/* .search-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
 .books-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid green;
 }

 #page-title {
     font-size: 20px;
     font-weight: bold;
     margin-top: 20px;
 }

 #page-text {
    font-size: 16px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input-style {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin: 2%;
    margin-bottom: 25%;
    margin-top: 25%;
}

@media screen and (min-width: 768px) {
    #page-text {
        font-size: 20px;
    }

    #page-title {
        font-size: 30px;
        margin-top: 30px;
    }
    .input-style {
        font-size: 20px;
        width: 70%;
        margin-bottom: 15%;
        margin-top: 15%;
    }
    }

@media screen and (min-width: 1024px) {
.input-style {
    margin-bottom: 10%;
}
}

@media screen and (min-width: 1800px) {
    .input-style {
        margin-bottom: 5%;
        font-size: 30px;
    }
    #page-text {
        font-size: 30px;
    }
        
    }

.searchbox-container {
    background-image: url('../../Images/noFiccionImage.jpeg');
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    box-shadow: 50px 100px 100px inset #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    color: black;
} */
