.search-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
 .books-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid green;
 }

 #page-title {
     font-size: 24px;
     font-weight: bold;
     margin-top: 20px;
     text-align: center;
     margin-left: 10px;
     margin-right: 10px;
 }

 #page-text {
    font-size: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-style {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin: 2%;
    margin-bottom: 25%;
    margin-top: 25%;
}

@media screen and (min-width: 768px) {
    #page-text {
        font-size: 24px;
    }

    #page-title {
        font-size: 30px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .input-style {
        font-size: 24px;
        margin-bottom: 15%;
        margin-top: 15%;
    }
}

@media screen and (min-width: 1024px) {
.input-style {
    margin-bottom: 5%;
    }
.search-box {
    height: 300px;
}
}

@media screen and (min-width: 1800px) {
    .input-style {
        font-size: 30px;
    }
    #page-text {
        font-size: 30px;
    }
    }

.searchbox-container {
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    box-shadow: 50px 100px 100px inset #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    color: black;
}

.ficcion-background-image {
    background-image: url('../../../Images/ficcionImage.jpg');
}

.no-ficcion-background-image {
    background-image: url('../../../Images/noFiccionImage.jpeg');
}
