.form-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 300px;
    height: 50px;
    vertical-align: middle; 
}
 .fav-books-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid green;
 }

 #fav-page-title {
     font-size: 20px;
     font-weight: bold;
     margin-top: 20px;
 }

.fav-input-style {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin: 0 2%;
}

@media screen and (min-width: 768px) {
    #fav-page-title {
        font-size: 30px;
        margin-top: 30px;
        text-align: center;
    }
    .fav-input-style {
        font-size: 20px;
        /* margin-bottom: 15%;
        margin-top: 15%; */
    }
}

@media screen and (min-width: 1024px) {
.fav-input-style {
    /* margin-bottom: 5%; */
    }
.form-box {
}
}

@media screen and (min-width: 1800px) {
    .fav-input-style {
        font-size: 30px;
    }
    }

.formbox-container {
    background-image: url('../../../Images/favourites.jpg');
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    box-shadow: 50px 100px 100px inset #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    color: black;
}

